@using Oxit.Domain.Models
@model IEnumerable<HesapPlaniDto>
@{
    ViewData["Title"] = "Şirketler";
    double Tborc = 0.00;
    double Talacak = 0.00;
    double Tgecikme = 0.00;
    double Tbakiye = 0.00;
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<table class="table table-striped table-hover printable" id="table_id">
    <thead class="table-dark">
    <tr>
        <th scope="col">Aktif</th>
        <th scope="col">Firma Kodu</th>
        <th scope="col">Firma Adı</th>
        <th scope="col">Borç </th>
        <th scope="col">Alacak</th>
        <th scope="col">Bakiye</th>
        <th scope="col">Gecikme</th>
        <th scope="col">Hesap Detayı</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var b in Model)
    {
        <tr>
            <th scope="row">
                <input class="form-check-input companyStatus" id="flexCheckDefault" type="checkbox" @(b.Aktif == true ? "checked" : "") value="@Html.DisplayFor(modelItem => b.Id)">
            </th>
            <td>@Html.DisplayFor(modelItem => b.Kod)</td>
            <td>@Html.DisplayFor(modelItem => b.Ad)</td>
            <td style="text-align: center;">@Convert.ToDouble(b.Borc).ToString("n2")</td>
            <td style="text-align: center;">@Convert.ToDouble(b.Alacak).ToString("n2")</td>
            <td style="text-align: center;">@Convert.ToDouble(b.Bakiye).ToString("n2")</td>
            <td style="text-align: center;">@Convert.ToDouble(b.GecikmeTutari).ToString("n2")</td>
            
            <td style="text-align: center;">
                <a class="btn btn-sm btn-danger" href="@Url.Action("index","Cari",new {hesapId=b.Id})">
                    Detay
                    <i class="fa fa-search"></i>
                </a>
            </td>
        </tr>
        Tborc = @Convert.ToDouble(b.ToplamBorcTutari);
        Talacak = @Convert.ToDouble(b.ToplamAlacakTutari);
        Tbakiye = @Convert.ToDouble(b.ToplamBorcTutari) - @Convert.ToDouble(b.ToplamAlacakTutari);
        Tgecikme = @Convert.ToDouble(b.ToplamGecikmeTutari);
    }
   
    </tbody>
</table>

<br/>
<table style="background-color: lightblue;width:80%">
           
                  <tr>
                      <td style="padding: 10px"> Toplam Borç</td>
                      <td style="padding: 10px"> Toplam Alacak </td>
                      <td style="padding: 10px"> Bakiye</td>
                      <td style="padding: 10px"> Toplam Gecikme</td>
                  </tr>
                  <tr>
                      <td style="padding: 10px">@Tborc.ToString("n2")@(Tborc != null ? " ₺ " : "")</td>
                      <td style="padding: 10px">@Talacak.ToString("n2")@(Talacak != null ? " ₺ " : "")</td>
                      <td style="padding: 10px">@Tbakiye.ToString("n2")@(Tbakiye != null ? " ₺ " : "")</td>
                      <td style="padding: 10px">@Tgecikme.ToString("n2")@(Tgecikme != null ? " ₺ " : "")</td>
                  </tr>
    
              </table>
    


<br/>

<script>$(document).ready(function () {

    $('#table_id').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
        }
    });

     $('.companyStatus').change(function () {
         var status = $(this).prop('checked');
         var msg = "";
         if (status){
             msg = 'Firmayı aktif hale getirmek istediğinizden emin misiniz?';
         }else{
             msg = 'Firmayı pasif hale getirmek istediğinizden emin misiniz?';
         }
         var sr = confirm(msg);     
         if (!sr){
             $(this).prop('checked',!status);
             return;
         }else
              $.ajax({
                type: "post",
                url: "@Url.Action("saveStatus","Companies")",
                data: { companyId: $(this).val(), status: status},
                dataType:"json",
                success: function(response){

                },
                error: function(response){
                }
              });
            });
        });
</script>
